<configuration scan="true" scanPeriod="60 seconds">
    <contextName>spring-mybatis</contextName>
    <!--    <property name="LOG_HOME" value="/home/wbg/logs/logback"/> -->
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <!-- -Dlogback.configurationFile=/path/this file name -->
    <appender name="ERROR-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <file>logs/oa.error</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/oa.error-%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] [%logger{36}.%method:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>

        <file>logs/oa.info</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/oa.info-%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] [%logger{36}.%method:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="AsyncFile" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>1024</queueSize>
        <appender-ref ref="FILE" level="INFO"/>
    </appender>

    <logger name="spring-mybatis" level="INFO">
        <appender-ref ref="AsyncFile" level="INFO"/>
        <appender-ref ref="ERROR-FILE" level="ERROR"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="ERROR-FILE" level="ERROR"/>
    </root>
</configuration>
